.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "menu menu logo . address";
    place-items: center;
    padding-top: 92px;
    padding-bottom: 96px;
    font-size: 18px;
}

.header__menu {
    grid-area: menu;
    justify-self: start;
    padding-left: 51px;
}

.header__menu-list {
    display: flex;
    gap: 32px;
    text-transform: lowercase;
}

.header__menu-list-item_no-bullit {
    list-style: none;
}

.header__menu-list-item {
    list-style: circle;
}

.link, .link-active {
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
}

.link:hover:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #000;
}

.link-active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 0;
}

.link-active:hover:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 0;
}

.header__logo {
    display: block;
    grid-area: logo;
    width: 135px;
    height: 105px;
}

.address {
    grid-area: address;
    justify-self: start;
    max-width: 240px;
    line-height: 135%;
}

.cover {
    display: flex;
    flex-direction: column;
    gap: 135px;
    padding: 165px 50px 50px 50px;
    color: #fff;
    text-transform: uppercase;
    background: #000 url(../images/cover.jpg) no-repeat center / cover;
}

.overlay {
    position: relative;
    z-index: 0;
}

.overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.6;
    background-color: #000;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0.3em;
}

.aligned-text_left {
    display: flex;
    justify-content: start;
    line-height: 115%;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    font-size: 22px;
}

.cover__description-text {
    white-space: pre-wrap;
}

.bet-button {
    border: 1.5px solid currentColor;
    padding: 12px 32px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top: 90px;
    padding: 90px 50px 91px 50px;
}

.lots__heading {
    padding-left: 40px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 430px;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    line-height: 120%;
}

.card_type_film {
    background: #000 url(../images/card-lot-01.jpg) no-repeat center / 100% auto;
}

.card_type_book {
    background: #000 url(../images/card-lot-02.jpg) no-repeat center / 100% auto;
}

.card_type_picture {
    background: #000 url(../images/card-lot-03.jpg) no-repeat center / 100% auto;
}

.card__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.lots__look-more-link {
    padding-left: 40px;
    padding-top: 3px;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    column-gap: 25px;
    padding: 91px 50px 95px 50px;
}

.about__logo {
    justify-self: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding: 63px 46px;
    background-color: #000;
}

.about__column {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 2;
}

.about__title {
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 90px 50px;
    font-size: 18px;
}

.footer__menu-list {
    text-align: center;
    text-transform: lowercase;
}

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}